groups:

- name: node_alerts

  rules:

  - alert: NodeDown
    expr: up == 0
    for: 1m

    labels:
      severity: critical

    annotations:
      summary: "Node Down"
      description: "{{ "{{" }} $labels.instance {{ "}}" }} is unreachable."
