########################################
# Grafana Configuration
########################################

[server]

protocol = http

http_addr =
http_port = 3000

domain = {{ hostvars['bastion-server'].ansible_host }}

root_url = http://{{ hostvars['bastion-server'].ansible_host }}/grafana/

serve_from_sub_path = true

router_logging = true

enable_gzip = true


########################################
# Security
########################################

[security]

admin_user = admin
admin_password = admin

allow_embedding = true


########################################
# Users
########################################

[users]

allow_sign_up = false


########################################
# Anonymous Access
########################################

[auth.anonymous]

enabled = false


########################################
# Logging
########################################

[log]

mode = console
level = info


########################################
# Paths
########################################

[paths]

data = /var/lib/grafana
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins
provisioning = /etc/grafana/provisioning
