[defaults]
inventory = ./inventories/aws_ec2.yml
roles_path = ./roles
inventory_ignore_extensions = .orig,.bak,.ini
deprecation_warnings = False
interpreter_python = /usr/bin/python3
host_key_checking = False
private_key_file = /home/rahul/oneclick-monitoring-prometheus/ansible/ansible-demo.pem
remote_user = ubuntu

[inventory]
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]
